# Dependencies
# node_modules  # Allow node_modules from CI
npm-debug.log*
yarn-debug.log*

# Testing
coverage
.nyc_output
.jest-cache
tests/
**/*.test.ts
**/*.test.tsx
**/*.test.js
**/*.test.jsx
**/__tests__/**

# Next.js
# .next/  # Allow .next from CI

# Misc
.DS_Store
*.tgz
*.tar.gz

# Debug
# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# IDE
.idea

# Git
.git
.gitignore

# CircleCI
.circleci

# Docker
Dockerfile
.dockerignore

# Documentation
*.md

# Storybook
.storybook
*.stories.js
*.stories.ts
*.stories.jsx
*.stories.tsx

# Sentry
.sentryclirc
