@use "bulma/sass/utilities/all"
@import url('https://fonts.googleapis.com/css?family=Helvetica Neue:400,700')
$family-sans-serif: "Helvetica Neue", "Helvetica", "Arial", sans-serif
$bcdark: #914444
$bcxdark: #652a2a
$table-border: $bcdark
$bclight: whitesmoke
$table-head-background-color: $bcdark
$table-foot-background-color: $bcdark
$table-foot-cell-color: $bcdark
$table-head-cell-color: $bclight
$tooltip-background-color: $bcxdark

@import "bulma/sass/base/all"
@import "bulma/sass/grid/all"
@import "bulma/sass/form/all"
@import "bulma/sass/elements/all"
@import "bulma/sass/components/all"
@import "bulma/sass/layout/all"
@import "@fortawesome/fontawesome-free/css/all.min.css"
@import "@creativebulma/bulma-tooltip"
@import "bulma-spacing/css/bulma-spacing.min.css"
@import "bulma-pageloader/dist/css/bulma-pageloader.min.css"

.link
  color: black
.link:hover
  color: black
.alert
  color: $red
.page-box
  padding: 10px 15px
  background-color: $bclight

.empty-control
  display: block

// Simple space
.simple-padding
  padding-left: .5em

.page-title
  background-color: $bcdark !important
  color: white !important

.form-columns
  display: flex
  flex-basis: 200px
  width: 75%
  justify-content: space-between
  font-size: small
  padding-top: 7.5px
  padding-bottom: 7.5px

.form-column:first-child
  text-align: left
  min-width: 25%
  flex: 2

.form-column:last-child
  padding-left: 20px
  text-align: left
  min-width: 15%
  flex: 1

.hero-body
  background-color: $bclight
  color: $bclight

.filter-columns
  display: flex
  flex-basis: 200px
  width: 75%
  justify-content: space-between
  font-size: small
  padding-top: 7.5px
  padding-bottom: 7.5px

.filter-column
  text-align: left
  min-width: 15%

.filter-label
  padding-top: 7.5px
  justify-content: center

.table-header
  th
    color: $bclight
.stats-header
  color: $bcxdark
  height: 2em

  th
    padding-left: 10px
    padding-right: 10px
    padding-top: 5px
    background-color: $bcxdark


.stats-row
  font-size: medium
  background: $bclight

  td
    padding-left: 10px
    padding-right: 10px
    padding-top: 2px
    font-size: larger
    height: 2em

.negative-gain
  color: red

.positive-gain
  color: green

.holding-row
  width: 900px

  table
    table-layout: fixed
    text-align: right

.holding-totals-row
  font-weight: bold

  td
    padding-right: 10px
    border-top:
      width: 1px
      color: black
      style: solid

.holding-footer
  font-weight: bolder

.totals-row
  font-weight: bold
  font-size: larger

  td
    padding-right: 10px
    border-top:
      width: 1.5px
      color: black
      style: solid

table
  border-collapse: collapse

  th
    color: $bclight
    background: $bcdark
    font-size: smaller
    width: 900px

  td
    font-size: smaller

.price
  width: 15%

.flex-cell
  text-align: right

.left-cell
  text-align: left

.asset
  text-align: left
  width: 30%

@media only screen and (max-width: 767px)
  .table-container
    th, td
      width: auto
      display: block
      border: 0

  th
    border-left: solid 1px
    border-right: solid 1px
    border-bottom: solid 1px

  td
    border-left: solid 1px $table-border
    border-right: solid 1px $table-border
    border-bottom: solid 1px $table-border

  .flex-row
    width: 100%

.modal-wrapper
  width: 500px
  height: 600px

.modal
  background: white
  height: 100%
  width: 100%
  border-radius: 15px
  padding: 15px

.modal-overlay
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  background-color: rgba(0, 0, 0, 0.5)

.modal-body
  padding-top: 10px

.modal-header
  display: flex
  justify-content: flex-end
  font-size: 25px
