@import "tailwindcss";
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans,  sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.tooltip {
  width: 90px; /* Adjust this value as needed */
  max-width: 100px; /* Adjust this value as needed */
  background-color: rgba(0, 0, 0, 0.5); /* 50% translucent background */
  color: white;
  text-align: left;
  border-radius: 4px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  left: 100%; /* Position the tooltip to the right of the text */
  top: 50%; /* Center the tooltip vertically */
  transform: translateY(-50%) translateX(10px); /* Adjust the position slightly */
  opacity: 0;
  transition: opacity 0.3s;
  font-weight: bolder;
}

.group:hover .tooltip {
  opacity: 1;
}

.menu-list {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
}

.menu-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: inherit;
  font-size: 14px; /* Adjust this value to match the title text size */
}

.menu-item:hover {
  background-color: #f0f0f0;
}

.check-mark {
  margin-left: 10px;
}

.flyout-menu {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000; /* Set a higher z-index value */
}
